{% extends "blog_template.html" %}
{% block body %}

<h2>{{post['title']}}</h2>
Postado {{post['date']|date('d-m-Y') }}<i> , por {{post['author']}}</i><br>
<hr>
{% autoescape false %}
{{post['body']}}
{% endautoescape %}
<p>
<em>Filtros: </em>:
{% for tag in post.tags %}
    {% if loop.first %}
        <a href="/tag/{{tag}}">{{tag}}</a>
    {% else %}
        , <a href="/tag/{{tag}}">{{tag}}</a>
    {% endif %}
{% endfor %}
<p>
<hr>
<h2>Comentários:</h2>

<ul>
{% for comment in post.comments %}
<b>Nome:</b> {{comment['author']}}<br>
{{comment['body']}}<br>
<hr>
{% endfor %}
<h4>Quer Comentar?</h3>
<form action="/newcomment" method="POST">
    <input type="hidden" name="permalink" value="{{post['permalink']}}">
    <span class="alert-danger">{{errors}}</span>
    <div class="form-group">
        <label>Nome*</label>
        <input type="text" class="form-control"  placeholder="Usuario" name="commentName" value="{{comment['name']}}">
    </div>

    <div class="form-group">
        <label>Email*</label>
        <input type="text" class="form-control"  placeholder="Usuario" name="commentEmail" value="{{comment['email']}}">
    </div>

    <div class="form-group">
        <label>Comentário</label>
        <textarea class="form-control" name="commentBody" cols="60" rows="10">{{comment['body']}}</textarea>
    </div>

    <div class="form-group">
        <a class="btn btn-danger"  href="/"><i class="fa fa-reply"></i>&nbsp;Voltar</a>
        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Enviar</button>
    </div>


{% endblock %}


